.about-illustration-text-title{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #333136;
}